# OP-TEE + SCMI
CONFIG_TEE=y
CONFIG_OPTEE=y
CONFIG_ARM_SCMI_PROTOCOL=y
CONFIG_MAILBOX=y
CONFIG_ARM_SCMI_POWER_DOMAIN=y
# CONFIG_ARM_SPCI_PROTOCOL is not set
# CONFIG_SENSORS_ARM_SCMI is not set
CONFIG_COMMON_CLK_SCMI=y
CONFIG_RESET_SCMI=y
# Earlyprintk
CONFIG_DEBUG_LL=y
CONFIG_STM32MP1_DEBUG_UART=y
CONFIG_EARLY_PRINTK=y
#CONFIG_DEBUG_UART_PHYS=0x40010000
CONFIG_ARM_SMC_MBOX=y
CONFIG_SRAM=y
CONFIG_OPTEE_MBOX=y
